/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, html {
  min-height: 100%;
  width: 100%;
}

.clear::after, .clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

.header {
  background: url(../images/about__bg.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.mobile {
  display: none;
}

.accordion {
  display: none;
}

.navigation {
  padding-top: 25px;
  padding-left: 70px;
  padding-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  padding-top: 74px;
  padding-bottom: 105px;
}

.logo {
  max-width: 192px;
  max-height: 28px;
}

.logo__link {
  display: block;
  width: 192px;
  height: 28px;
}

.logo__img {
  width: 192px;
  height: 28px;
}

.nav {
  max-width: 561px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  width: 561px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav__link:hover {
  border-bottom: 2px solid #fff;
}

.nav__link--arrow::after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  width: 14px;
  height: 8px;
  background: url(../images/icons/arrow.svg) no-repeat;
}

.account {
  max-width: 244px;
}

.account__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.account__elem {
  width: 112px;
}

.account__signup {
  font-family: 'Roboto', sans-serif;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 11px 28px;
  background: #FF9F4B;
  -webkit-box-shadow: 0px 0px 9px rgba(171, 97, 32, 0.2);
          box-shadow: 0px 0px 9px rgba(171, 97, 32, 0.2);
  border-radius: 8px;
  font-size: 14px;
  line-height: 100%;
}

.account__login {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 11px 28px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.account__login:hover {
  text-decoration: underline;
}

.info {
  margin-top: 200px;
  text-align: left;
  color: #fff;
}

.info__title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 110%;
}

.info__text {
  padding-top: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 135%;
  font-family: 'Roboto', sans-serif;
}

.principles {
  background: #fff;
  width: 100%;
  height: auto;
}

.principles__full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principles__title {
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 110%;
  color: #0A1128;
}

.principles__info {
  width: 100%;
}

.principles__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.principles__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 40px;
  margin-bottom: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 15px rgba(90, 149, 210, 0.15);
          box-shadow: 0px 5px 15px rgba(90, 149, 210, 0.15);
  border-radius: 8px;
}

.principles__textual {
  max-width: 840px;
  font-family: 'Roboto', sans-serif;
  color: #0A1128;
}

.principles__heading {
  font-weight: bold;
  font-size: 26px;
  line-height: 135%;
  padding-bottom: 20px;
}

.principles__text {
  font-size: 18px;
  line-height: 135%;
}

.principles__btn {
  padding-top: 50px;
  padding-bottom: 100px;
  max-width: 165px;
  max-height: 44px;
}

.principles__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  padding: 14px 30px;
  background: #FF9F4B;
  border: 1px solid #FFAB62;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 9px rgba(171, 97, 32, 0.2);
          box-shadow: 0px 0px 9px rgba(171, 97, 32, 0.2);
  border-radius: 8px;
}

.planet {
  background: url(../images/about__bg.png) no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.planet__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.planet__title {
  padding-top: 100px;
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 110%;
}

.planet__info {
  padding-bottom: 100px;
}

.planet__text {
  font-size: 18px;
  line-height: 135%;
  font-family: 'Roboto', sans-serif;
}

.planet__img {
  position: absolute;
}

.planet__img--first {
  left: 17%;
  top: 10%;
  opacity: 20%;
}

.planet__img--second {
  left: 50%;
  top: 47%;
  opacity: 70%;
}

.planet__img--third {
  left: 73%;
  top: 15%;
  opacity: 70%;
}

.team {
  width: 100%;
  background: #F7FBFF;
  height: auto;
}

.team__title {
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  line-height: 110%;
  color: #0A1128;
}

.team__list {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__list--first {
  padding-bottom: 40px;
}

.team__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 310px;
  height: 371px;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 15px rgba(90, 149, 210, 0.15);
          box-shadow: 0px 5px 15px rgba(90, 149, 210, 0.15);
  border-radius: 20px;
  margin: 10px;
}

.team__img {
  border-radius: 20px;
}

.team__name {
  padding-top: 30px;
  padding-left: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 135%;
  color: #0A1128;
}

.team__position {
  padding-top: 9px;
  padding-left: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 120%;
  font-size: 14px;
  line-height: 120%;
  color: #286BB1;
}

.footer {
  width: 100%;
  height: auto;
  background: #292D3A;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 33px;
  padding-bottom: 22px;
}

.footer__subnav {
  padding-top: 44px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__subnav--link {
  margin-right: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 13px;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-weight: 300;
}

.footer__subnav--link:hover {
  text-decoration: underline;
}

.footer__author {
  text-align: center;
  font-size: 14px;
  line-height: 13px;
  font-weight: 300;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.footer__author--mobile {
  display: none;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-size: 14px;
  line-height: 120%;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

.footer__img {
  margin-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .nav {
    width: 100%;
    padding: 10px;
  }
  .nav__list {
    width: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__link {
    font-size: 14px;
  }
  .info {
    margin-top: 0px;
  }
  .principles__title {
    font-size: 59px;
    text-align: center;
  }
  .principles__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .planet__title {
    font-size: 59px;
  }
  .planet__img {
    display: none;
  }
  .team__title {
    font-size: 59px;
  }
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__navigation {
    width: 100%;
  }
  .footer__contact {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #54595F;
    border-top: 1px solid #54595F;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer__link {
    text-align: center;
  }
  .footer__author {
    display: none;
  }
  .footer__author--mobile {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-size: 16px;
    line-height: 13px;
    font-weight: 300;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  .footer__subnav {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__subnav--link {
    margin-right: 0px;
    margin-left: 25px;
  }
  .footer__content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .info__title {
    font-size: 35px;
  }
  .mobile {
    z-index: 150;
    display: inline-block;
    width: 100%;
    height: 48px;
  }
  .mobile__content {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__nav {
    width: 100%;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .account--mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .account__signup {
    height: 35px;
    text-align: center;
    padding: 11px 20px;
  }
  .account__login {
    height: 35px;
    text-align: center;
    padding: 11px 20px;
  }
  .content {
    padding-top: 100px;
  }
  .content--active {
    padding-top: 0px;
  }
  .accordion {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    z-index: 149;
    padding-top: 88px;
    padding-bottom: 20px;
  }
  .accordion--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .accordion__elem {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.180392);
    background: #6BB4FF;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
  }
  .accordion__link {
    text-decoration: none;
    color: #fff;
  }
  .burger__btn {
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
  }
  .burger__line {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .burger__line::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .burger__line::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .burger__btn--active span {
    height: 0;
  }
  .burger__btn--active span::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger__btn--active span::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1240px) {
  .navigation {
    display: none;
  }
  .nav {
    max-width: 100%;
    width: 100%;
    padding: 10px;
  }
  .nav__list {
    width: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__link {
    font-size: 14px;
  }
  .info {
    margin-top: 0px;
  }
  .principles__title {
    font-size: 59px;
    text-align: center;
  }
  .principles__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .planet__title {
    font-size: 59px;
  }
  .planet__img {
    display: none;
  }
  .team__title {
    font-size: 59px;
  }
  .team__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__navigation {
    width: 100%;
  }
  .footer__contact {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #54595F;
    border-top: 1px solid #54595F;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer__link {
    text-align: center;
  }
  .footer__author {
    display: none;
  }
  .footer__author--mobile {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-size: 16px;
    line-height: 13px;
    font-weight: 300;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  .footer__subnav {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__subnav--link {
    margin-right: 0px;
    margin-left: 25px;
  }
  .footer__content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .info__title {
    font-size: 35px;
  }
  .mobile {
    z-index: 150;
    display: inline-block;
    width: 100%;
    height: 48px;
  }
  .mobile__content {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__nav {
    width: 100%;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .account--mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .account__signup {
    height: 35px;
    text-align: center;
    padding: 11px 20px;
  }
  .account__login {
    height: 35px;
    text-align: center;
    padding: 11px 20px;
  }
  .content {
    padding-top: 100px;
  }
  .content--active {
    padding-top: 0px;
  }
  .accordion {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    z-index: 149;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .accordion--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .accordion__elem {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.180392);
    background: #6BB4FF;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
  }
  .accordion__link {
    text-decoration: none;
    color: #fff;
  }
  .burger__btn {
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
  }
  .burger__line {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .burger__line::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .burger__line::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .burger__btn--active span {
    height: 0;
  }
  .burger__btn--active span::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger__btn--active span::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
/*# sourceMappingURL=styles.css.map */