.team {
    width: 100%;
    background: #F7FBFF;
    height: auto;

    &__title {
        padding-top: 100px;
        padding-bottom: 50px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-weight: bold;
        font-size: 60px;
        line-height: 110%;
        color: #0A1128;
    }

    &__list {
        padding-bottom: 100px;
        display: flex;
        justify-content: center;

        &--first {
            padding-bottom: 40px;
        }
    }

    &__elem {
        display: flex;
        flex-direction: column;
        width: 310px;
        height: 371px;
        background: #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 5px 15px rgba(90, 149, 210, 0.15);
        border-radius: 20px;
        margin: 10px;
    }

    &__img {
        border-radius: 20px;
    }

    &__name {
        padding-top: 30px;
        padding-left: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 135%;  
        color: #0A1128;
    }

    &__position {
        padding-top: 9px;
        padding-left: 25px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 120%;
        font-size: 14px;
        line-height: 120%;
        color: #286BB1;
    }
}